@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.section {
  animation: fadeIn ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.section {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.slide-l {
  animation: left linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.slide-r {
  animation: right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} */

::selection {
  background: var(--color-iris);
  color: #000000;
}

:root {
  --color-primary: #fafafa;
  --color-secondary: #f9f9f9;
  --color-paragraph: #878787;
  --color-azure: #4287f5;
  --color-iris: #6f42c1;
  --color-background: #1f1f1f;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-paragraph: var(--color-paragraph);
  --color-azure: var(--color-azure);
  --color-iris: var(--color-iris);
  --color-background: var(--color-background);
}
