---
import '../styles/global.css';
import NavBar from '../components/NavBar.vue';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title >Alsayed portfolio</title>
	</head>
	<body class="bg-background">
		<div class="container max-w-5xl mx-auto lg:px-0 px-8">
			<slot />
		</div>
	</body>
</html>


